body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#hit {
    width: 100px;
    height: 50px;
    font-size: 20px;
}

#stand {
    width: 100px;
    height: 50px;
    font-size: 20px;
}
#dealerCards img {
    height: 175px;
    width: 125px;
    margin: 1px;
    
}
#playerCards img {
    height: 175px;
    width: 125px;
    margin: 1px;
    
}      