body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #222;
    color: #ddd;
}

#hit {
    width: 100px;
    height: 50px;
    font-size: 20px;
}

#stand {
    width: 100px;
    height: 50px;
    font-size: 20px;
}

.cards {
    height: 175px;
    width: 125px;
    margin: 1px;
    
}      